/* Import Noto Sans font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body {
    font-family: "Roboto";
    background-color: #000000;
    color: #e0dede;
    font-weight: 700;
    font-size: 20px;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:transparent;
}

#button_panel{
    display:flex;
    flex-direction: row;
    gap:25px;
    background-color:#292828;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    height:29px;
    width:360px
}

#header{
    margin-bottom: 50px;
}

.buttons{
    background-color: #292828;
    border:none;
    color:#ffff;
    border-radius: 8px;
    width: 80px;
    height:25px;
    font-weight: bold;
    transition: transform 0.3s ease;
    font-size: 16px;
}

.buttons:hover{
    background-color: #575454;
    border-radius: 8px;
    transform: scale(1.1);
}
#button_panel{
    display:flex;
}

#blocks_container{
    position:relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    gap:12px;
    width:min(80vw, 80vh);
    height:min(80vw, 80vh);
    overflow: hidden;
    margin:10px;
    padding: 10px;
}

.main_blocks{
    position:absolute;
    display: flex;
    background-color: #292828;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    font-size: 24px;
    width:100%;
    height:100%;
    will-change: transform;
}

.wrapper{
    position:relative;
    display: flex;
    background-color: #292828;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    font-size: 24px;
    transform: none;
    
}

.main_blocks:hover{
    transform: scale(1.015);
    border-radius: 8px;
    

}

#presentation{
    grid-column: span 4;
    opacity:0;
    animation: slide-in 1s ease-out;
    animation: slide-in-top 1s ease-out 0.63s forwards;
    color:rgb(17, 84, 113);
}
#image{
    grid-row: span 3;
    grid-column: span 2;
    overflow: hidden;
    background-color: rgb(15, 65, 87);
    animation: slide-in-right 1s ease-out 0.5s forwards;
    opacity:0;
}

#image2 img{
    transform: scale(0.08);
    transform-origin: center;
}

#title{
    grid-column: span 2;
    opacity: 0;
    padding: 5px;
    text-align: center;
    background-color: rgb(11, 56, 75);
    animation: slide-in-left 1s ease-out 0.2s forwards;
}

#title2{
 background-color: rgb(11, 56, 75);    
}

#name{
    text-align: center;
    grid-column: span 2;
    grid-row: span 2;
    min-width: 200px;
    min-height: 200px;
}

#name2{
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: -25px;
    justify-content: center;
}

#name_holder{
    font-weight: bolder;
    font-size: 2.5rem;
}

#tech{
    grid-column: span 2;
    grid-row: span 3;
    animation: slide-in-left 1s ease-out 0.35s forwards;
    opacity:0;
    color:rgb(17, 84, 113);
}
#education{
    grid-column: span 4;
    grid-row: span 2;
    animation: slide-in-bottom 1s ease-out 0.575s forwards;
    opacity:0;
    color:rgb(17, 84, 113);
}

@keyframes slide-in-left {
    from {
      transform: translateX(-200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slide-in-right {
    from {
      transform: translateX(200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-top {
    from {
      transform: translateY(-200%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
      transform:none;
    }
  }
  
  @keyframes slide-in-bottom {
    from {
      transform: translateY(200%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .typed-cursor {
    position:relative;
    animation: blink 1s infinite;
    font-size: inherit;  /* Matches the text size */
    vertical-align: baseline; /* Aligns properly */
    font-size: 30px;
    width:0px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }} 