/* Import Noto Sans font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
    font-family: 'Noto Sans';
    background-color: #000000;
    color: #e0dede;
    font-weight: 700;
    font-size: 20px;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px
}

#button_panel{
    display:flex;
    flex-direction: row;
    gap:15px;
    background-color:#433f3f;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;
}

.buttons{
    background-color: #433f3f;
    border:none;
    color:#ffff;
    border-radius: 8px;
    width: 80px;
    height:25px;
    font-weight: bold;
}

.buttons:hover{
    background-color: #575454;
    border-radius: 10px;
}
#button_panel{
    display:flex;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#blocks_container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    gap:10px;
    width:min(65vw, 65vh);
    height:min(65vw,65vh);
}

.main_blocks{
    display: flex;
    background-color: #3d3b3b;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

#block1{
    grid-column: span 4;
}
#block2{
    grid-row: span 3;
    grid-column: span 2;

    background-color: rgb(18, 82, 109);
}
#block3{
    grid-column: span 2;
}
#block4{
    grid-column: span 2;
    grid-row: span 2;
}
#block5{
    grid-column: span 2;
    grid-row: span 3;
    background-color: rgb(18, 82, 109);

}
#block6{
    grid-column: span 4;
    grid-row: span 2;
}